<form novalidate autocomplete="off" [formGroup]="form" *ngIf="form">
  <div class="dialog">
    <h2 mat-dialog-title>{{ 'cards.dialog.' + (editMode ? 'edit' : 'create') | translate | capitalize }}</h2>
    <mat-dialog-content>

      <app-text-input [form]="form" [controlName]="'front'" [placeholder]="'common.front'"></app-text-input>
      <app-text-input [form]="form" [controlName]="'back'" [placeholder]="'common.back'"></app-text-input>

    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-end">
      <button role="button" mat-button type="submit" id="cancelButton" [mat-dialog-close]="null">
        {{ 'buttons.cancel'| translate | capitalize }}
      </button>
      <button role="button"
              mat-raised-button
              color="primary"
              type="button"
              id="saveUserButton"
              [disabled]="form.invalid"
              (click)="closeDialog()">
        {{ 'buttons.save' | translate | capitalize }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
