<form>
  <div class="form-outline mb-4">
    <input type="email" id="username" class="form-control" #username/>
    <label class="form-label" for="username">{{ 'common.username' | translate | capitalize }}</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" #password/>
    <label class="form-label" for="password">{{ 'common.password' | translate | capitalize }}</label>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4" (click)="login(username.value, password.value)">
    {{ 'buttons.login' | translate | capitalize }}
  </button>
</form>
