<div class="login-background">
  <div class="login-container">
    <div class="login-icon-container">
      <mat-icon>person</mat-icon>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">

      <app-input class="input-element"
                 [hideCounter]="true"
                 [form]="form"
                 [controlName]="'username'"
                 [placeholder]="'common.username'"
                 [appearance]="'outline'">
      </app-input>

      <app-input class="input-element"
                 [hideCounter]="true"
                 [form]="form"
                 [controlName]="'password'"
                 [placeholder]="'common.password'"
                 [appearance]="'outline'"
                 [type]="'password'">
      </app-input>

      <div class="login-button-container">
        <button mat-raised-button color="primary" type="submit" class="mr-2"
                [disabled]="!form.valid">
          {{ 'buttons.login' | translate | capitalize}}
        </button>
        <button mat-stroked-button color="primary" type="button" [routerLink]="['/register']">
          {{ 'buttons.register' | translate | capitalize}}
        </button>
      </div>
    </form>
  </div>
</div>
