<button class="m-2 d-flex" role="button" mat-raised-button color="primary" (click)="create()">
  {{ 'buttons.createCollection' | translate | capitalize }}
</button>

<ng-container *ngIf="(collections$ | async)?.content as collections">
  <mat-nav-list *ngIf="(collections || []).length > 0">
    <ng-container *ngFor="let element of $any(collections)">
      <mat-list-item [matMenuTriggerFor]="menu" [matMenuTriggerData]="{collection: element}">
        <mat-icon matListIcon> {{ element?.icon }} </mat-icon>
        <span matLine> {{ element.name}} </span>
        <span matLine class="size"> {{ element.size}} </span>
        <mat-icon matSuffix> {{ element?.icon }} </mat-icon>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-collection="collection">
      <ng-container *ngFor="let action of actions">
        <button mat-menu-item (click)="actionClicked(action, collection)">
          <mat-icon>{{ action.icon }}</mat-icon>
          <span>{{ ('actions.' + action.type) | translate | capitalize }}</span>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>
</ng-container>
