<app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="false">
    <mat-nav-list>
<!--        <mat-list-item [disableRipple]="true">-->
<!--    <mat-icon class="standard-icon mr-3">-->
<!--      psychology-->
<!--    </mat-icon>-->
<!--    <span>{{ 'titles.main' | translate | uppercase }}</span>-->
<!--    <mat-icon class="ml-3 mirrored-icon">-->
<!--      psychology-->
<!--    </mat-icon>-->
<!--  </mat-list-item>-->
      <ng-container *ngFor="let element of menuElements">
        <ng-container *ngIf="{ translated: (element.title | translate | capitalize) }; let title">
          <mat-list-item appMenuItem
                         [routerLink]="['/' + element.link]"
                         [routerLinkActive]="'list-item-active'"
                         [matTooltipDisabled]="title.translated.length < 15"
                         [matTooltip]="title.translated">
            <mat-icon matListIcon> {{ element.icon }} </mat-icon>
            <span matLine> {{ title.translated }} </span>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="router-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
