@use "@angular/material/theming" as mat;
@import "src/assets/scss/variables";

:host {
  overflow: hidden;
  height: 100vh;

  main {
    position: relative;
  }
}

:host ::ng-deep .mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mat-drawer:not(.mat-drawer-side) {
  margin-top: 64px;
}

.list-item-active {
  background-color: mat.mat-color($my-app-primary, 50);
  color: mat.mat-color($my-app-primary);
}

.router-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin-top: 64px;
}
