<mat-toolbar color="primary" class="d-flex mat-elevation-z5">

  <div class="flex-left">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon aria-label="Menu icon">menu</mat-icon>
    </button>
  </div>

  <div class="flex-center">
    <mat-icon class="layout-icon mr-2">
      psychology
    </mat-icon>
    <span>{{ 'titles.main' | translate | uppercase }}</span>
  </div>

  <div class="flex-right disable-select">

    <mat-icon matPrefix class="layout-icon mr-3 pointer" [matTooltip]="'titles.userPanel' | translate | capitalize">
      account_circle
    </mat-icon>

    <button mat-raised-button color="primary" (click)="logout()">{{'buttons.logout' | translate | capitalize}}
    </button>
  </div>
</mat-toolbar>
