<mat-toolbar color="primary" class="d-flex mat-elevation-z5">

  <div class="flex-left">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon aria-label="Menu icon">menu</mat-icon>
    </button>
  </div>

  <div class="flex-center">
    <mat-icon class="layout-icon mr-3">
      psychology
    </mat-icon>
    <span>{{ 'titles.main' | translate | uppercase }}</span>
    <mat-icon class="layout-icon ml-3 mirrored-icon">
      psychology
    </mat-icon>
  </div>

  <div class="flex-right disable-select">
    <button type="button" aria-label="Logout" mat-icon-button (click)="logout()">
      <mat-icon aria-label="Logout icon">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
