<mat-form-field [ngClass]="fieldClass" [formGroup]="form" class="w-100">
  <mat-label>{{translatePlaceholder ? (placeholder | translate: interpolateParams | capitalize) : placeholder}}</mat-label>
  <input #input
         matInput
         [id]="id ? id : controlName"
         [minlength]="minlength"
         [formControlName]="controlName"
         [name]="controlName"
         [type]="type"
         [maxlength]="maxlength"
         [readonly]="readonly"
         [placeholder]="translatePlaceholder ? (placeholder | translate: interpolateParams | capitalize) : placeholder"
         [autocomplete]="autocomplete">
  <mat-hint *ngIf="maxlength || info" align="end" class="d-flex align-middle align-items-center">
    <span *ngIf="maxlength" [ngClass]="{'mr-1': info}" class="mr-1">{{input.value.length || 0}}/{{maxlength}}</span>
    <mat-icon *ngIf="info" [matTooltip]="info | translate | capitalize" [matTooltipClass]="'text-center'" color="primary" class="help">
      help_outline
    </mat-icon>
  </mat-hint>
  <span matSuffix>
    <ng-content select="[suffix]"></ng-content>
  </span>
  <mat-error>
    <app-input-errors [errors]="form.controls[controlName].errors"></app-input-errors>
  </mat-error>
</mat-form-field>
