@use "@angular/material/theming" as mat;
@import "src/assets/scss/variables";

:host ::ng-deep {
  overflow: auto;

  mat-form-field.ng-invalid.ng-touched.mat-form-field-invalid {
    animation: mat-error-animation;
    animation-duration: 0.2s;
  }

  .mat-form-field-subscript-wrapper {
    position: relative;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

.register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, mat.mat-color($my-app-primary), mat.mat-color($my-app-accent));
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.register-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.input-element {
  width: 100%;
  margin-bottom: 20px;
}

.register-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
