@use "@angular/material/theming" as mat;
@import "src/assets/scss/variables";

:host ::ng-deep {
  .mat-icon {
    height: 1.1em;
    width: 1.1em;
    font-size: 1.3em;
  }

  .mat-paginator {
    margin: 10px;
  }

  .mat-list-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;

    & .mat-list-item.mat-list-item-with-avatar {
      height: auto;
      flex: 1;
      border-right: 1px solid black;

      & .mat-list-item-content {
        height: 100%;
        flex-direction: row;
        text-align: center;
        padding: 10px 10px;

        & .mat-list-icon {
          height: 1.1em;
          width: 1.1em;
          font-size: 1.3em;
        }

        & .mat-list-text {
          padding: 0 10px;
          font-size: 0.8rem;

          & .size {
            font-size: 0.6rem;
          }
        }
      }

      & .mat-line {
        white-space: nowrap;
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .mat-card-title {
    display: block;
  }

  .mat-line {
    white-space: nowrap;
    width: 90%;
    margin: 0 auto;
  }

  .mat-button {
    border: 1px solid mat.mat-color($my-app-primary);
  }
}

.flex-element {
  flex-grow: 1;
  margin: 10px;
}

.flex-button {
  padding: 0;
  height: 50px;
  margin-top: 15px;
}

.main-container {
  height: calc(100% - 64px);
}

.list-item-container {
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 10px;
}
