<mat-form-field [formGroup]="form" class="w-100">
  <mat-label>{{placeholder | translate | capitalize}}</mat-label>
  <input type="text"
         matInput
         [placeholder]="placeholder | translate | capitalize"
         [formControlName]="controlName"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <ng-container *ngIf="!template">{{option | map:displayFnName}}</ng-container>
      <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{value: option | map:displayFnName}"></ng-template>
    </mat-option>
  </mat-autocomplete>
  <mat-error>
    <app-input-errors [errors]="form.controls[controlName].errors"></app-input-errors>
  </mat-error>
</mat-form-field>
